/* SELECTEURS GLOBAUX */


/* Une page */
section{
  height: 20cm;
}

/* Espace de 2cm vertical */
.space2{
  height: 2cm;
}


.space05{
  height: 0.5cm;
}

/* Espace de 1 cm vertical */
.space1{
  height: 1cm;
}

/* Taille des icones de roles */
.icons{
  height: 0.5cm;
  margin: 0 0.5cm;
}

mark{
  border-radius: 2px;
  padding: 0.2em;
}


/* EVENEMENTS */


/* Evenemet de base */
.evenement{
  border: 1px solid lightgrey;
  border-radius: 5px;
  background-color: #ecf0f1;
}
.evenement>p:first-child{ /* titre */
  font-weight: bold;
}
.evenement>p:nth-child(2){ /* description */
  color: #34495e;
  margin-left: 1cm;
}

/* Evenement nuit */
.nuit{
  background-color: #233a6e !important;
  color: lightgrey !important; /* titre */
}

/* Evenement victoire */
.victoire{
  background-color: #196934;
  color: lightgrey !important; /* titre */
}

.pasVictoire{
  background-color: #bf3d25;
  color: lightgrey !important; /* titre */
}

/* Evenement jour */
.jour{
  background-color: #f39c12 !important;
}

.evenement-sep{
  min-height: 0.3cm;
  color: grey;
  padding: 0.3em;
  margin: 0 0 0 0.8cm;
  border-left: 2px solid lightgrey;
}

.liserai-rouge{
  border-left: 3px solid #bf3d25;
}
.liserai-vert{
  border-left: 3px solid #35ae57;
}
.liserai-bleu{
  border-left: 3px solid #2a7ebc;
}
.liserai-jaune{
  border-left: 3px solid #f29e00;
}


/* BULLES ET CARRE */


.bulle-colle > p{
  margin: 0;
  padding: 0;
}

.icons-bulle{
  height: 0.7cm;
  margin: 0 0.35cm;
  padding: 0.1cm;
  border: thin solid grey;
  border-radius: 50%;
}

.icons-carre{
  height: 0.7cm;
  margin: 0 0.35cm;
  padding: 0.1cm;
  border: thin solid grey;
  border-radius: 5px;
}

.back-rouge{
  background-color: #bf3d25;
}
.back-vert{
  background-color: #35ae57;
}
.back-bleu{
  background-color: #2a7ebc;
}
.back-jaune{
  background-color: #f29e00;
}


/* TABLEAUX */


td{
  height: 2em;
  max-width: 4em;
}

.bords table{
  border-collapse: collapse;
  border-radius: 5px;
  background-color: #ecf0f1;
}

.th th{
  border: thin solid lightgrey;
  border-top: none;
}
.th th:first-child{
  border-left: none;
}
.th th:last-child{
  border-right: none;
}

.tr tr{
  border-top: thin solid lightgrey;
  border-bottom: thin solid lightgrey;
}
.tr tr:first-child, .tr tr:last-child{
  border: none;
}

.max > table{
  width: 100%;
}


/* BILAN */


.icons-bilan{
  height: 1cm;
}

.icons-bilan-tableau{
  height: 1.2em;
  border-radius: 50%;
}


/* NON LINEAIRE */


.evenement-sep-non-lineaire{
  min-height: 0.3cm;
  color: grey;
  padding: 0.3em;
  margin: 0 0 0 0.8cm;
  border-bottom-left-radius: 5px;
  width: 59.3%;
  border-left: 2px solid lightgrey;
  border-bottom: 2px dashed lightgrey;
}

.evenement-sep-non-lineaire-inverse{
  min-height: 0.3cm;
  color: grey;
  padding: 0.3em;
  margin: 0 0 0 0.8cm;
  border-top-left-radius: 5px;
  width: 59.3%;
  border-left: 2px solid lightgrey;
  border-top: 2px dashed lightgrey;
}

.evenement-non-lineaire{
  display: -webkit-inline-box;
  width: 100%;
  padding-left: 0;
  margin: 0;
  margin-left: 0.8cm;
}

.evenement-non-lineaire>div>div:nth-child(2){
  display: -webkit-inline-box;
}

.border-left{
  border-left: 2px solid lightgrey;
}

.evenement-non-lineaire > div{
  width: 43%;
}

.evenement-non-lineaire p{
  margin: 0;
}

.evenement-non-lineaire > div:first-child{
  padding-right: 0.5em;
  margin-right: 0.5em;
  margin-left: 5%;
}


/* CSS PAR DEFAUT */


body{
  font-size: 0.6em;
}
