@font-face{
  font-family: spectral;
  src: url(./ressources/Spectral-Light.ttf);
}

@font-face{
  font-family: spectral-bold;
  src: url(./ressources/Spectral-Bold.ttf);
}

html{
  color: lightgrey;
  height: 100%;
  font-family: spectral-bold;
}

body{
  background-color: #009688;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

main{
  background-color: lightgrey;
  padding: 1em;
  border-radius: 2em;
  box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
  height: 80vh;
  width: 80vh;
  margin: 1em;
}

table{
  width: 80vh;
}

table img{
  max-height: 8vh;
  margin: 0.2em;
}

tr{
  display: flex;
}

table>tr:first-child{
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
}

table>tr:last-child{
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
}

td{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

td:nth-child(2n){
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}

body>section:nth-child(2){
  width: 97%;
  display: flex;
  flex-wrap: wrap;
}

body>section:nth-child(2) .back{
  border: 1em solid transparent;
}

#outils{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #00776b;
  box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
}

#outils>div>p:nth-child(4){
  margin: 0;
}

#outils>div>p:nth-child(2){
  margin-left: 0.5em;
}

#outils img{
  filter: invert(90%);
  margin-right: 0.5em;
  height: 2em;
  cursor: pointer;
}

#outils img:hover{
  animation: bounce 0.35s ease infinite alternate;
}

#outils>div{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

@keyframes bounce{
     from{transform: translateY(0);}
     to  {transform: translateY(-10px);}
}


/* SWITCH BUTTON */
#outils>div>label{
  margin-left: 5em;
  position: relative;
  display: inline-block;
  width: 2em;
  height: 1em;
}

#outils>div>label>input{
  opacity: 0;
  width: 0;
  height: 0;
}

.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 1em;
}

.slider:before{
  position: absolute;
  content: "";
  height: 1em;
  width: 1em;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

#outils>div>label>input:checked + .slider{
  background-color: #2196F3;
}

#outils>div>label>input:focus + .slider{
  box-shadow: 0 0 1px #2196F3;
}

#outils>div>label>input:checked + .slider:before{
  -webkit-transform: translateX(1em);
  -ms-transform: translateX(1em);
  transform: translateX(1em);
}
